{
  "presets": [

   [
      "@babel/preset-env",
      {
        "modules": false, // CRITICAL: ENABLE TREE SHAKING
        "targets": {
          "esmodules": true // Target environments that support ES Modules
        }
      }
    ],
    // "@babel/preset-env",
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ]
}