
/* src/components/timeline/Timeline.module.css */

.timelineEventRow {
  display:grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}




.contentContainer {
  display:grid;
  height: 15em;
  margin-top: 1em;
  align-items: center;
} 



